[Unit]
Description=My Script Service
After=network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/myScript.sh
Restart=always

[Install]
WantedBy=multi-user.target
