[Unit]
Description=Consumer
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/ishproj1
ExecStart=python3 /home/ubuntu/ishproj1/consumeOutputQueue.py
Restart=always

[Install]
WantedBy=multi-user.target
