
[Unit]
Description=Gunicorn instance for ishproj1
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/ishproj1
ExecStart=/bin/gunicorn -b localhost:5000 project1phase2:app --timeout 600 --workers 5 --threads 5
Restart=always
[Install]
WantedBy=multi-user.target
