[Unit]
Description=auto scaling
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/ishproj1
ExecStart=python3 /home/ubuntu/ishproj1/webTierCron.py
Restart=always

[Install]
WantedBy=multi-user.target
